*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    border-bottom: 3px solid black;
    height: 100%;
    background-color: #FFFDF3;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}

header{
    background-color: #ffffff;

    display: flex;
    justify-content: center;
    align-content: center;
}

header .navbar-container {
    border-bottom: 1px solid #3A35411F;
    background-color: #ffffff;
    max-width: 1440px;
    width: 100%;
    max-height: 80px;
    height: 100%;
    padding: 12px 120px;

    margin: auto;

    display: flex;
    align-content: center;
    gap: 36px;

    z-index: 9999;
}

header .navbar-list{
    max-width: 1120px;
    width: 100%;
    max-height: 56px;
    align-items: center;

    display: flex;
    justify-content: space-between;
    align-content: center;
}

header .navbar-container .nav-img{
    display: flex;
    align-content: center;
}

header .navbar-container .nav-img img{
    max-width: 237px;
    width: 237px;
    max-height: 56px;

    object-fit: cover;
}



header .navbar-container p{
    
    font-family: DM Sans , sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 22.4px;
    letter-spacing: 0.2px;
    color: #1d2433;
}

header .navbar-container p:hover {
    color: #666464;
    cursor: pointer;
}

header .profile-img{
    align-self: center;
    max-width: 44px;
    width: 44px;
    height: 44px;
    border-radius: 10px;
}

header .navbar-container .menu {
    margin: auto;

    display: none;
}

header .navbar-container .menu a{
    color: #1d2433;
    size: 10px;
    font-size: 16px;
    font-weight: 500;
    line-height: 22.4px;
    letter-spacing: 0.2px;
}

header .navbar-container .menu a:hover {
    color: #666464;
    cursor: pointer;
}

main{
    padding: 64px 120px;
    max-width: 1440px;
    width: 100%;
    margin: auto;

    display: flex;
    flex-direction: column;
    gap: 64px;
}

/* Hero Section Start */
main #hero-sec{
    position: relative;
    overflow: hidden;
    max-width: 1200px;
    width: 100%;
    height: 400px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main #hero-sec .bg-hero{
    position: absolute;
    width: 100%;
    height: 100%;
    background: url(Assets/hero-sec.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: brightness(20%);
    border-radius: 10px;
    
    z-index: -1;
    
}

main #hero-sec .container-hero{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

main #hero-sec .text-hero{
    max-width: 920px;
    width: 100%;
    height: 215px;

    color: #ffffff;
    text-align: center;
    margin: auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 12px;
}

main #hero-sec .text-hero h1{
    font-family: "Poppins", sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 52.8px;
}

main #hero-sec .text-hero p{
    font-family: DM Sans, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 22.4px;
    letter-spacing: 0.2px;
}

main #hero-sec button {
    max-width: 369px;
    width: 100%;
    height: 42px;
    border-radius: 10px;

    font-family: DM Sans, sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 22.4px;
    letter-spacing: 0.2px;
    color: #ffffff;


    background-color: #3ecf4c;
    margin: auto;
}

main #hero-sec button:hover{
    cursor: pointer;
    color: #3ecf4c;
    background-color: transparent;
    border: 3px solid #3ecf4c;
}
/* Hero Section End */

/* Card Section Start */
main #card-container {
    max-width: 1200px;
    width: 100%;
    
    display: flex;
    flex-direction: column;
    gap: 32px;
}

main #card-container .head-card{
    max-width: 623px;
    max-height: 67px;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    gap: 10px;
}

main #card-container .head-card h3 {
    font-family: Poppins, sans-serif;
    font-size: 32px;
    font-weight: 600;
    line-height: 35.2px;
    color: #222325;
}

main #card-container .head-card p {
    font-family: DM Sans, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 22.4px;
    letter-spacing: 0.2px;
    color: #484848;
}

main #card-container .nav-card {
    max-width: 632px;
    width: 100%;
    max-height: 52px;

    display: flex;
    flex-direction: column;
}

main #card-container .nav-card ul {
    align-items: flex-start;
    overflow: auto;
    overflow-y: hidden;

    display: flex;
    flex-direction: row;
    gap: 6px;
}

main #card-container .nav-card ul li {
    max-height: 52px;
    height: 100%;
    
    padding: 12px 36px 12px 0px;
    list-style-type: none;
}

main #card-container .nav-card ul li a{
    font-family: DM Sans, sans-serif;
    max-width: 86px;
    width: 100%;
    height: 22px;

    color: #3A3541AD;
    font-size: 16px;
    font-weight: 500;
    line-height: 22.4px;
    letter-spacing: 0.2px;
    
    text-decoration: none;
    font-style: normal;
}

main #card-container .nav-card ul li a:hover{
    color: #f64920;
    cursor: pointer;
}


main #card-container .nav-card .line{
    background-color: #f64920;
    max-width: 52px;
    width: 100%;
    max-height: 6px;
    height: 6px;
    border-radius: 10px;
}

/* Card List Start */
main #card-container .card-list{
    max-width: 1200px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    gap: 24px;
}

main #card-container .card-list .card{
    border: 1px solid #3A35411F;
    max-width: 384px;
    width: 100%;
    max-height: 426px;
    height: 100%;
    border-radius: 10px;
    padding: 20px;
    background-color: #ffffff;
    margin: auto;
    
    display: flex;
    flex-direction: column;
    gap: 16px;
}

main #card-container .card-list .card .card-text .title-content {
    content: 'Big data';
    color: black;
}

main #card-container .card-list .card .card-img {
    max-width: 344px;
    width: 100%;
    max-height: 193px;
    height: 100px;
    border-radius: 10px;
    object-fit: cover;
}

main #card-container .card-list .card .card-text {
    max-width: 344px;
    width: 100%;
    text-align: left;

    display: flex;
    flex-direction: column;
    gap: 8px;
}

main #card-container .card-list .card .card-text .title-content {
    font-family: Poppins, sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 21.6px;
    color: #222325;
}

main #card-container .card-list .card .card-text .text-content {
    max-width: 344px;
    width: 100%;
    height: 44px;

    font-family: DM Sans, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 22.4px;
    letter-spacing: 0.2px;
    color: #333333;

    overflow: hidden;
}

main #card-container .card-list .card .card-user {
    max-width: 344px;
    width: 100%;
    max-height: 42px;

    display: flex;
    gap: 10px;
}

main #card-container .card-list .card .card-user .user-name .name {
    font-family: DM Sans, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 22.4px;
    letter-spacing: 0.2px;
    color: #222325;
}

main #card-container .card-list .card .card-user .user-name .job{
    font-family: DM Sans, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 19.6px;
    letter-spacing: 0.2px;
    color: #333333;
}

main #card-container .card-list .card .card-user .user-name .job .job-pos {
    font-weight: 400;
    font-size: 14px;
}

main #card-container .card-list .card .card-user .user-name .job .place {
    font-weight: 700;
    font-size: 14px;
}

main #card-container .card-list .card .card-user .user-img {
    max-width: 40px;
    width: 100%;
    max-height: 40px;
    height: 100%;
    border-radius: 10px;
}

main #card-container .card-list .card .card-rate {
    max-width: 344px;
    width: 100%;
    max-height: 29px;

    display: flex;
    justify-content: space-between;
}

main #card-container .card-list .card .card-rate .rate{
    max-width: 151px;
    width: 100%;
    max-height: 20px;

    display: flex;
    gap: 8px;
}

main #card-container .card-list .card .card-rate .rate .star {
    max-width: 90px;
    width: 100%;
    max-height: 18px;

    display: flex;
}

main #card-container .card-list .card .card-rate .rate p {
    font-family: DM Sans, sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 19.6px;
    letter-spacing: 0.2px;
    color: #333333;

    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: false;
}

main #card-container .card-list .card .card-rate .price {
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 28.8px;
    color: #3ecf4c;
}
/* Card List End */
/* Card Section End */

/* Banner CTA Start */
main .banner-cta {
    max-width: 1200px;
    width: 100%;
    max-height: 400px;
    height: 400px;
    border-radius: 4px;
    
    color: black;

    box-shadow: 0px 12px 45px -10px #003BDE33;
    
    position: relative;
    overflow: hidden;

    display: flex;
}

main .banner-cta .bg-cta {
    width: 100%;
    height: 100%;
    position: absolute;

    background-image: url(Assets/banner-cta.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: brightness(20%);
    
    z-index: -1;
}

main .banner-cta .banner-container {
    max-width: 525px;
    width: 100%;
    height: 216px;

    margin: auto;

    display: flex;
    flex-direction: column;
    gap: 40px;
}

main .banner-cta .banner-container .banner-text {
    color: white;
    text-align: center;
    margin: auto;

    display: flex;
    flex-direction: column;
    gap: 4px;
}

main .banner-cta .banner-container .banner-text .top{
    font-family: DM Sans, sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 25.2px;
    letter-spacing: 0.2px;
    color: #c1c2c4;
    text-transform: uppercase;
}

main .banner-cta .banner-container .banner-text .center{
    font-family: Poppins, sans-serif;
    font-weight: 600;
    font-size: 32px;
    line-height: 35.2px;
}

main .banner-cta .banner-container .banner-text .bottom{
    font-family: DM Sans, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 22.4px;
    letter-spacing: 0.2px;
    color: #f4f5fa;
}

main .banner-cta .banner-container .btn-container {
    max-width: 525px;
    width: 100%;
    height: 58px;
    border-radius: 10px;
    background-color: white;

    padding: 8px 8px 8px 32px;

    display: flex;
    gap: 20px;
    align-items: center;
}

main .banner-cta .banner-container .btn-container input[type=email] {
    max-width: 333px;
    width: 100%;
    max-height: 22px;
    height: 100px;

    font-family: DM Sans, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 22.4px;
    letter-spacing: 0.2px;
    color: #333333;

    border-style: none;

}

main .banner-cta .banner-container .btn-container button {
    max-width: 132px;
    width: 100%;
    height: 42px;
    border-radius: 10px;
    border-style: none;
    background:  #ffbd3a;

    padding: 10px 26px;

    font-family: DM Sans, sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 22.4px;
    letter-spacing: 0.2px;
    color: white;

}

main .banner-cta .banner-container .btn-container button:hover {
    background:  #ffbd3ae1;

    cursor: pointer;
}
/* Banner CTA End */

/* Footer Start */
footer{
    max-height: 427px;
    background-color: white;
}

footer .footer-cont {
    border-top: 1px solid #3A35411F;
    max-width: 1440px;
    width: 100%;
    max-height: 427px;

    margin: auto;
    padding: 60px 120px;
    background-color: white;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

footer .footer-cont .footlist-container {
    max-width: 1200px;
    width: 100%;
    max-height: 199px;
    
    display: flex;
    justify-content: space-between;
}

footer .footer-cont .footlist-container .left {
    max-width: 352px;
    width: 100%;
    max-height: 190px;

    display: flex;
    flex-direction: column;
    gap: 16px;
}

footer .footer-cont .footlist-container .left .footer-logo {
    max-width: 204px;
    width: 100%;
    max-height: 56px;
    height: 56px;
    
    display: flex;
}

footer .footer-cont .footlist-container .left .footer-logo img {
    max-width: 193.03px;
    width: 100%;
    height: 30.08px;
    top: 13px;
    left: 5px;
    
    margin: auto;
}

footer .footer-cont .footlist-container .left .keterangan {
    max-width: 352px;
    width: 100%;
    height: 118px;
    font-family: DM Sans, sans-serif;
    color: #222325;

    display: flex;
    flex-direction: column;
    gap: 12px;
}

footer .footer-cont .footlist-container .left .keterangan .slogan {
    max-width: 352px;
    width: 100%;
    height: 50px;
    font-weight: 700;
    font-size: 18px;
    line-height: 25.2px;
    letter-spacing: 0.2x;
}

footer .footer-cont .footlist-container .left .keterangan .alamat {
    font-weight: 400;
    font-size: 16px;
    line-height: 22.4px;
    letter-spacing: 0.2px;
}

footer .footer-cont .footlist-container .left .keterangan .nomor {
    font-weight: 400;
    font-size: 16px;
    line-height: 22.4px;
    letter-spacing: 0.2px;
}

footer .footer-cont .footlist-container .right {
    max-width: 485px;
    width: 100%;
    max-height: 199px;
    height: 199px;

    display: flex;
    justify-content: space-between;
}

footer .footer-cont .footlist-container .right .category{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
footer .footer-cont .footlist-container .right .category .category-text .chevron {
    display: none;
}
footer .footer-cont .footlist-container .right .category p{
    font-family: DM Sans, sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 22.4px;
    letter-spacing: 0.2px;
    color: #222325;
}

footer .footer-cont .footlist-container .right .category ul{
    font-family: DM Sans, sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 22.4px;
    letter-spacing: 0.2px;
    color: #222325;
    
    display: flex;
    flex-direction: column;
    gap: 13px;
}

footer .footer-cont .footlist-container .right .category ul li {
    font-family: DM Sans, sans-serif;
    font-weight: 500;
    size: 16px;
    line-height: 22.4px;
    letter-spacing: 0.2px;
    color: #333333;

    list-style-type: none;
}

footer .footer-cont .footlist-container .right .category ul li a{
    text-decoration: none;
    color: #333333;
}

footer .footer-cont .footlist-container .right .category ul li a:hover{
    color: #b8b8b8;
}

footer .footer-cont .footer-line {
    max-width: 1200px;
    width: 100%;
    height: 1px;

    border-bottom: 1px solid #3A35411F;
    padding-top: 32px;
}


footer .footer-cont .footer-socmed {
    max-width: 1200px;
    width: 100%;
    height: 35px;

    display: flex;
    justify-content: space-between;
}

footer .footer-cont .footer-socmed p {
    font-family: DM Sans, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 22.4px;
    letter-spacing: 0.2px;
    color: #333333;
}

footer .footer-cont .footer-socmed ul {
    max-width: 185px;
    width: 100%;
    height: 35px;

    display: flex;
    gap: 15px;
}

footer .footer-cont .footer-socmed ul li {
    max-width: 35px;
    width: 100%;
    height: 35px;
    list-style-type: none;
}

footer .footer-cont .footer-socmed ul li:hover{
    opacity: 50%;
    cursor: pointer;
}
/* Footer End */

/* Media Queries */

    /* Laptop */
@media screen and (max-width: 1200px) {
    /* Hero Section Start */
    main #hero-sec .text-hero {
        gap: 12px;
    }
    main #hero-sec .container-hero{
        padding: 64px 20px;
    }
    main #hero-sec .text-hero h1 {
        font-size: 24px;
        line-height: 26.4px;
        text-align: center;
    }
    /* Hero Section End */

    /* Card List Start */
    main #card-container .nav-card{
        max-height: 70px;
        gap: 1px;
    }
    main #card-container .nav-card ul li a {
        font-size: 14.4px;
    }
    main #card-container .card-list .card{
        margin: auto;
    }
    /* Card List End */

    /* Footer Start */
    footer .footer-cont .footer-line {
        padding-top: 55px;
    }
    footer .footer-cont .footlist-container {
        gap: 6px;
    }
    footer .footer-cont .footlist-container .left .keterangan{
        gap: 22px;
    }
    footer .footer-cont .footlist-container .right{
        gap: 11px;
    }
    /* Footer End */
}

    /* Tablet */
@media screen and (max-width: 768px) {
    
    main{
        padding: 64px 20px;
    }
    
    /* Navbar Start */
    header .navbar-container {
        max-height: 70px;
        padding: 12px 20px;
    }

    header .navbar-container .nav-img img{
        width: 80%;
    
        object-fit: cover;
    }
    header .navbar-container .menu {
        margin: auto;
        
        display: inline-block;
    }
    header .profile-img{
        display: none;
        position: absolute;
        
        top: 1%;
        right: -1000px;
    }
    header .navbar-container p{
        display: none;
        position: absolute;
        
        top: 10%;
        right: -1000px;
    }
    /* Navbar End */

    /* Hero Section Start */
    main #hero-sec .text-hero {
        gap: 8px;
    }
    main #hero-sec .container-hero{
        padding: 3px 10px;
    }
    main #hero-sec .text-hero h1 {
        font-size: 22px;
        line-height: 22.4px;
        text-align: center;
    }
    main #hero-sec .text-hero p {
        font-family: DM Sans, sans-serif;
        font-size: 18px;
        font-weight: 500;
        line-height: 20px;
        letter-spacing: 0.2px;
    }
    main #hero-sec button {
        max-width: 369px;
        width: 90%;
        height: 45px;
        border-radius: 10px;
        padding: 0px 3px 1px;
    
        line-height: 14.4px;
        letter-spacing: 0.2px;
        margin: auto;
    }
    /* Hero Section End */

    /* Card Start */
    main #card-container {
        max-width: 1200px;
        width: 100%;
        
        gap: 25px;
    }
    main #card-container .head-card{
        max-width: 623px;
        max-height: 67px;
        width: 100%;
        height: 100%;
        
        gap: 10px;
    }
    main #card-container .head-card h3 {
        font-size: 25px;
        font-weight: 600;
        line-height: 24px;
    }
    main #card-container .head-card p {
        font-size: 20px;
        font-weight: 400;
        line-height: 17px;
    }
    main #card-container .nav-card{
        max-height: 170px;
        gap: 1px;
    }
    main #card-container .nav-card ul li a {
        font-size: 14.4px;
    }
    main #card-container .nav-card .line{
        width: 15%;
        max-height: 3px;
    }
    
    main #card-container .card-list{
        max-width: 600px;
        width: 100%;
        margin: auto;
        flex: 1;
    }

    main #card-container .card-list .card{
        margin: auto;
        
    }

    main #card-container .card-list .card .card-text {
        padding-top: 5px;
        gap: 5px;
    }
    
    main #card-container .card-list .card .card-text .title-content {
        font-size: 18px;
        font-weight: 600;
        line-height: 18px;
    }
    
    main #card-container .card-list .card .card-text .text-content {
        max-width: 344px;
        width: 100%;
        height: 44px;
    
        font-weight: 500;
        font-size: 15px;
        line-height: 20.2px;
        letter-spacing: 0.2px;
    }

    main #card-container .card-list .card .card-user {
        max-width: 344px;
        width: 100%;
        max-height: 42px;
    
        gap: 10px;
    }
    
    main #card-container .card-list .card .card-user .user-name .name {
        font-weight: 500;
        font-size: 19px;
        line-height: 22.4px;
        letter-spacing: 0.2px;
    }
    
    main #card-container .card-list .card .card-user .user-name .job{
        font-weight: 400;
        font-size: 16px;
        line-height: 19.6px;
        letter-spacing: 0.2px;
    }
    
    main #card-container .card-list .card .card-user .user-name .job .job-pos {
        font-weight: 400;
        font-size: 16px;
    }
    
    main #card-container .card-list .card .card-user .user-name .job .place {
        font-weight: 700;
        font-size: 16px;
    }

    main #card-container .card-list .card .card-rate .rate .star {
        max-height: 18px;
    }
    main #card-container .card-list .card .card-rate .rate{
        gap: 2px;
    }
    main #card-container .card-list .card .card-rate .rate p {
        font-weight: 400;
        font-size: 16px;
        line-height: 16.6px;
        letter-spacing: 0.2px;
    }
    
    main #card-container .card-list .card .card-rate .price {
        font-weight: 600;
        font-size: 25px;
        line-height: 20.8px;
    }
    /* Card List End */

    /* Banner CTA Start */
    main .banner-cta .banner-container{
        gap: 20px;
        padding: 0px 7px;
    }
    main .banner-cta .banner-container .banner-text .top{
        font-weight: 400;
        font-size: 16px;
        line-height: 15.2px;
        letter-spacing: 0.2px;
    }
    
    main .banner-cta .banner-container .banner-text .center{
        font-weight: 600;
        font-size: 24px;
        line-height: 25.2px;
    }
    
    main .banner-cta .banner-container .banner-text .bottom{
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.2px;
    }

    main .banner-cta .banner-container .btn-container {
        max-width: 450px;
        width: 100%;
        height: 45px;
        border-radius: 10px;
        margin: auto;
        gap: 15px;
    }
    
    main .banner-cta .banner-container .btn-container input[type=email] {
        max-width: 333px;
        width: 100%;
        max-height: 25px;
        height: 100px;
    
        font-weight: 400;
        font-size: 12px;
        line-height: 18.4px;
        letter-spacing: 0.2px;

    
    }
    
    main .banner-cta .banner-container .btn-container button {
        max-width: 132px;
        width: 40%;
        height: 22px;
        border-radius: 5px;
    
        padding: 1px 2px;
    
        font-family: DM Sans, sans-serif;
        font-weight: 600;
        font-size: 12px;
        line-height: 12.4px;
        letter-spacing: 0.2px;
    
    }
    /* Banner CTA End */

    /* Footer Start */

    footer .footer-cont {
        padding: 30px 50px;
        
        gap: 10px;
    }

    footer .footer-cont .footer-line {
            padding-top: 55px;
        }
        footer .footer-cont .footlist-container {
            gap: 6px;
        }
        footer .footer-cont .footlist-container .left .footer-logo {
            width: 60%;
            object-fit: cover;
        }
        footer .footer-cont .footlist-container .left .footer-logo img {
            top: 8px;
            left: 3px;
        }
        
        footer .footer-cont .footlist-container .left .keterangan {
            gap: 30px;
        }
        
        footer .footer-cont .footlist-container .left .keterangan .slogan {
            max-width: 352px;
            width: 100%;
            height: 50px;
            font-weight: 600;
            font-size: 14px;
            line-height: 15px;
            letter-spacing: 0.2x;
        }
        
        footer .footer-cont .footlist-container .left .keterangan .alamat {
            font-weight: 400;
            font-size: 12px;
            line-height: 13px;
            letter-spacing: 0.2px;
        }
        footer .footer-cont .footlist-container .left .keterangan .nomor {
            font-weight: 400;
            font-size: 12px;
            line-height: 13px;
            letter-spacing: 0.2px;
        }
        
        footer .footer-cont .footlist-container .right {
            max-height: 199px;
            height: 199px;
        }
        
        footer .footer-cont .footlist-container .right .category{
            gap: 10px;
        }
        
        footer .footer-cont .footlist-container .right .category p{
            font-size: 14px;
            line-height: 16px;
        }
        
        footer .footer-cont .footlist-container .right .category ul{
            font-weight: 700;
            font-size: 14px;
            line-height: 16px;
            
            gap: 15px;
        }
        
        footer .footer-cont .footlist-container .right .category ul li {
            font-weight: 500;
            line-height: 16px;
            letter-spacing: 0.2px;
        }

        footer .footer-cont .footer-socmed p {
            font-weight: 500;
            font-size: 13px;
            line-height: 16px;
            letter-spacing: 0.2px;
        }
        
        footer .footer-cont .footer-socmed ul {
            max-width: 185px;
            width: 40%;
            max-height: 35px;
        
            gap: 10px;
        }
        
        footer .footer-cont .footer-socmed ul li {
            max-width: 35px;
            width: 40%;
            height: 35px;
            list-style-type: none;
        }
        
    /* Footer End */
}

    /* Mobile */
@media screen and (max-width: 455px) {
    
    main{
        padding: 64px 20px;
    }
    
    /* Navbar Start */
    header .navbar-container {
        height: 74px;
        padding: 12px 20px;
    }

    header .navbar-container .nav-img img{
        max-width: 152px;
        width: 100%;

    
        object-fit: cover;
    }
    header .navbar-container .menu {
        margin: auto;
        
        display: inline-block;
    }
    header .profile-img{
        display: none;
        position: absolute;
        
        top: 1%;
        right: -1000px;
    }
    header .navbar-container p{
        display: none;
        position: absolute;
        
        top: 10%;
        right: -1000px;
    }
    /* Navbar End */

    /* Hero Section Start */
    main #hero-sec {
        padding: 64px 20px;
        justify-content: center;
        align-items: center;
        gap: 24px;
    }
    main #hero-sec .text-hero {
        gap: 12px;
    }
    main #hero-sec .container-hero{
        padding: 3px 10px;
    }
    main #hero-sec .text-hero h1 {
        font-size: 24px;
        font-weight: 700;
        line-height: 26.4px;
        text-align: center;
        padding: 0px;
    }
    main #hero-sec .text-hero p {
        font-family: DM Sans, sans-serif;
        font-size: 14px;
        font-weight: 500;
        line-height: 19.6px;
        letter-spacing: 0.2px;
    }
    main #hero-sec button {
        max-width: 369px;
        width: 90%;
        height: 45px;
        border-radius: 10px;
    
        font-weight: 400;
        font-size: 14px;
        line-height: 19.6px;
        letter-spacing: 0.2px;
        margin: auto;
    }
    /* Hero Section End */

    /* Card Start */
    main #card-container {
        max-width: 1200px;
        width: 100%;
        
        gap: 25px;
    }
    main #card-container .head-card{
        max-width: 623px;
        max-height: 67px;
        width: 100%;
        height: 100%;
        
        gap: 10px;
    }
    main #card-container .head-card h3 {
        font-size: 25px;
        font-weight: 600;
        line-height: 24px;
    }
    main #card-container .head-card p {
        font-size: 20px;
        font-weight: 400;
        line-height: 17px;
    }
    main #card-container .nav-card{
        max-height: 170px;
        gap: 1px;
    }
    main #card-container .nav-card ul li a {
        font-size: 14.4px;
    }
    main #card-container .nav-card .line{
        width: 15%;
        max-height: 3px;
    }
    
    main #card-container .card-list{
        max-width: 600px;
        width: 100%;
        margin: auto;
        flex: 1;
    }

    main #card-container .card-list .card{
        margin: auto;
        max-width: 320px;
        width: 100%;
        max-height: 147px;
        height: 100%;
        
        flex: 1;
        gap: 8px;
        padding: 16px;
    }
    main #card-container .card-list .card .cardlist-cont {
        max-width: 288px;
        width: 100%;
        max-height: 83px;
        height: 100%;
        display: flex;
        gap: 12px;
        
        align-items: center;
        justify-content: center;
    }
    
    main #card-container .card-list .card .cardlist-cont img{
        padding: 0;
        max-width: 82px;
        width: 82px;
        max-height: 82px;
        height: 82px;
    }
    main #card-container .card-list .card .cardlist-cont .content-cont {
    width: 194px;
    height: 82px;
    gap: 8px;
    padding: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    }
    main #card-container .card-list .card .card-text {
        margin: auto;
        gap: 8px;
    }
    
    main #card-container .card-list .card .card-text .title-content {
        font-size: 16px;
        font-weight: 600;
        line-height: 19.2px;
    }
    
    main #card-container .card-list .card .card-text .text-content {
        max-width: 344px;
        width: 100%;
        height: 44px;
        display: none;
    
        font-weight: 500;
        font-size: 15px;
        line-height: 20.2px;
        letter-spacing: 0.2px;
    }

    main #card-container .card-list .card .card-user {
        max-width: 194px;
        width: 100%;
        max-height: 37px;
    
        gap: 8px;
    }
    main #card-container .card-list .card .card-user img {
        width: 36px;
        height: 36px;
    }
    main #card-container .card-list .card .card-user .user-name .name {
        font-weight: 500;
        font-size: 14px;
        line-height: 19.6px;
        letter-spacing: 0.2px;
    }
    
    
    main #card-container .card-list .card .card-user .user-name .job .job-pos {
        font-weight: 400;
        font-size: 12px;
    }
    
    main #card-container .card-list .card .card-user .user-name .job .place {
        display: none;
    }
    main #card-container .card-list .card .card-user .user-name .job .text-di{
        display: none;
    }
    main #card-container .card-list .card .card-rate .rate .star {
        max-height: 18px;
        width: 90px;
        height: 18px;
    }
    main #card-container .card-list .card .card-rate .rate{
        gap: 8px;
    }
    main #card-container .card-list .card .card-rate .rate p {
        font-weight: 500;
        font-size: 12px;
        line-height: 16.8px;
        letter-spacing: 0.2px;
    }
    
    main #card-container .card-list .card .card-rate .price {
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
    }
    /* Card List End */

    /* Banner CTA Start */
    main .banner-cta .banner-container{
        gap: 20px;
        padding: 20px;

        max-height: 304px;
        height: 100%;
    }
    main .banner-cta .banner-container .banner-text .top{
        font-weight: 400;
        font-size: 16px;
        line-height: 22.4px;
        letter-spacing: 0.2px;
    }
    
    main .banner-cta .banner-container .banner-text .center{
        font-weight: 600;
        font-size: 24px;
        line-height: 26.4px;
    }
    
    main .banner-cta .banner-container .banner-text .bottom{
        font-weight: 400;
        font-size: 14px;
        line-height: 19.6px;
        letter-spacing: 0.2px;
    }

    main .banner-cta .banner-container .btn-container {
        max-width: 280px;
        width: 100%;
        max-height: 96px;
        height: 100%;
        border-radius: 10px;
        margin: auto;
        gap: 10px;
        padding: 10px 8px 10px 12px;
        background-color: transparent;
        
        flex-direction: column;
    }
    
    main .banner-cta .banner-container .btn-container input[type=email] {
        max-width: 280px;
        width: 100%;
        max-height: 40px;
        height: 100%;
        border-radius: 10px;
        
        font-weight: 400;
        font-size: 14px;
        line-height: 19.6px;
        letter-spacing: 0.2px;
        text-align: center;
    }
    
    main .banner-cta .banner-container .btn-container button {
        max-width: 280px;
        width: 100%;
        max-height: 40px;
        height: 100%;
        border-radius: 10px;
    
        padding: 1px 2px;
    
        font-family: DM Sans, sans-serif;
        font-weight: 600;
        font-size: 14px;
        line-height: 19.6px;
        letter-spacing: 0.2px;
    
    }
    /* Banner CTA End */

    /* Footer Start */

    footer .footer-cont {
        padding: 2px 20px 50px;
        
        gap: 16px;
    }

    footer .footer-cont .footer-line {
            padding-top: 85px;
        }
    footer .footer-cont .footlist-container {
            flex-direction: column;
            max-width: 360px;
            gap: 6px;
        }
    footer .footer-cont .footlist-container .left .footer-logo {
            width: 100%;
            object-fit: cover;
        }
    footer .footer-cont .footlist-container .left .footer-logo img {
            top: 8px;
            left: 3px;
        }
        
    footer .footer-cont .footlist-container .left .keterangan {
            gap: 8px;
        }
        
    footer .footer-cont .footlist-container .left .keterangan .slogan {
            max-width: 320px;
            width: 100%;
            height: 40px;
            font-weight: 700;
            font-size: 14px;
            line-height: 19.6px;
            letter-spacing: 0.2x;
        }
        
    footer .footer-cont .footlist-container .left .keterangan .alamat {
            font-weight: 400;
            font-size: 14px;
            line-height: 13px;
            letter-spacing: 0.2px;
        }
    footer .footer-cont .footlist-container .left .keterangan .nomor {
            font-weight: 400;
            font-size: 14px;
            line-height: 19.6px;
            letter-spacing: 0.2px;
        }
        
    footer .footer-cont .footlist-container .right {
            max-height: 199px;
            height: 199px;

            flex-direction: column;
        }
        
    footer .footer-cont .footlist-container .right .category{
            gap: 12px;
        }
        
    footer .footer-cont .footlist-container .right .category .category-text{
        display: flex;
        justify-content: space-between;
    }

    footer .footer-cont .footlist-container .right .category p{
            font-size: 16px;
            line-height: 22.4px;
        }

    footer .footer-cont .footlist-container .right .category .category-text .chevron{
        color: #3A35418A;
        display: inline;
    }

    footer .footer-cont .footlist-container .right .category ul{
            font-weight: 700;
            font-size: 14px;
            line-height: 16px;
            
            display: none;
            gap: 15px;
        }
        
    footer .footer-cont .footlist-container .right .category ul li {
            font-weight: 500;
            line-height: 16px;
            letter-spacing: 0.2px;
        }

    footer .footer-cont .footer-socmed {
        flex-direction: column;
        gap: 12px;
    }

    footer .footer-cont .footer-socmed p {
            font-weight: 500;
            font-size: 16px;
            line-height: 16px;
            letter-spacing: 0.2px;
            order: 2;
            color: #333333;
        }
        
    footer .footer-cont .footer-socmed ul {
            max-width: 185px;
            width: 40%;
            max-height: 35px;
        
            gap: 13px;
            order: 1;
        }
        
    footer .footer-cont .footer-socmed ul li {
            max-width: 35px;
            height: 35px;
            list-style-type: none;
        }

    /* Footer End  */
}


